
.navbar {
  display: flex; /* Maintain flexbox for layout */
  justify-content: space-between; /* Distribute items horizontally */
  align-items: center; /* Maintain vertical centering */
  padding: 1rem;
  background: linear-gradient(
    to right,
    #000000,
    #676767
  ); /* Black gradient background */
  color: #fff; /* Text color white */
  box-shadow: 0 0 10px rgba(142, 123, 123, 0.5); /* More prominent shadow */
  font-family: "Montserrat", sans-serif; /* Modern font with some weight */
  text-shadow: 0 0 2px #cc171e; /* Inner shadow for text glow */
}
.navbar-links {
  display: flex;
}

.navbar-link {
  display: inline-block; /* Display links as inline-block to make them spread horizontally */
  white-space: nowrap; /* Prevent text from wrapping */
  background-color: #cc171e; /*red button*/
  border: 2px solid silver;
  border-radius: 10px ;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out; /* Smooth transition on hover */
  position: relative; /* Needed for hover effects */
  padding: 12px 24px;
}

.navbar-link:hover {
  color: #020101; /* Accent color on hover */
  transform: translateY(-2px); /* Slight upward movement on hover */
  text-shadow: 0 0 5px #dc3737; /* Increase glow on hover */
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.3)
  ); /* Overlay gradient for depth */
  z-index: -1; /* Place behind the content */
}

.logo {
  width: 40%;
}
@media (max-width: 768px) {
  body{
    font-size: medium;
  }
  .navbar{
  flex-direction:column;/*align the items vertically*/
  padding: 0.5rem ;
  }
  .navbar-links{
     flex-direction:row ;
     width: 100%;
  }
  .navbar-link{
    background: none;
   padding: 1px;
   margin-right: 0; /* Remove right margin */
    width: 100%; /* Full width for links */
    text-align: left; /* Align text to the left */
  }
  .navbar-link:hover {
    color: #e11717; /* Accent color on hover */
    transform: translateY(-2px); /* Slight upward movement on hover */
    text-shadow: 0 0 5px #dc3737; /* Increase glow on hover */
  }
 .logo {width:35%;} 

  
}